Import modules here

In [43]:
import requests
import json
import pandas as pd

API request below. I'm pulling data from the Open Brewery dataset. Seems like a fun one to explore.

In [48]:
r = requests.get('https://api.openbrewerydb.org/breweries')

In [49]:
beer_data=r.json()

In [50]:
df = pd.DataFrame(beer_data)

In [51]:
df.head()

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,updated_at,created_at
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,None,None,Knox,Indiana,None,46534,United States,-86.627954,41.289715,6308165790,None,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
1,10-barrel-brewing-co-bend-1,10 Barrel Brewing Co,large,62970 18th St,None,None,Bend,Oregon,None,97701-9847,United States,-121.28170597038259,44.08683530625218,5415851007,http://www.10barrel.com,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
2,10-barrel-brewing-co-bend-2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,None,None,Bend,Oregon,None,97703-2465,United States,-121.32880209261799,44.057564901366796,5415851007,None,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,None,None,Bend,Oregon,None,97701,United States,-121.2809536,44.0912109,5415851007,None,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,None,None,Boise,Idaho,None,83702-5857,United States,-116.202929,43.618516,2083445870,http://www.10barrel.com,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z

Looks like this dataset only lets me pull 20 entries at a time, so this is a smaller dataset than I was expecting. I can still work with this.

In [52]:
df.describe()

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,updated_at,created_at
count,20,20,20,19,1,0,20,19,1,20,20,18,18,19,15,20,20
unique,20,17,4,19,1,0,18,12,1,20,2,18,18,17,13,1,1
top,10-56-brewing-company-knox,10 Barrel Brewing Co,micro,400 Brown Cir,Clonmore,NaN,Bend,Oregon,Laois,46534,United States,-86.627954,41.289715,5415851007,http://www.10barrel.com,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
freq,1,4,9,1,1,NaN,3,5,1,1,19,1,1,3,3,20,20

Analysis 1: Write a query to select a particular set of your data: I want to see what the different brewery types are.

In [53]:
df[['brewery_type']]

   brewery_type
0         micro
1         large
2         large
3         large
4         large
5         large
6         large
7         large
8         micro
9       brewpub
10       closed
11        micro
12        micro
13        micro
14        micro
15      brewpub
16        micro
17      brewpub
18        micro
19        micro

Descriptive Analysis 2: Some kind of statistics about this dataset -
Question: What is the most common brewery type? 
Answer: Using mode for this analysis. Looks like it's microbrewery.

In [54]:
df.brewery_type.mode()

0    micro
Name: brewery_type, dtype: object

Descriptive Analysis 3: Another kind of statistics about this dataset -
Question: What is the median of the longitude column?
(This is really kind of a pointless analysis, I just want to see how negative numbers are treated here. Apparently they're fine and I need more coffee.)

In [59]:
df.longitude.median()

-116.66626099999999

Analysis 4: Select and print the SECOND AND THIRD columns of your data frame

In [62]:
df[['name','brewery_type']]

                                             name brewery_type
0                           10-56 Brewing Company        micro
1                            10 Barrel Brewing Co        large
2                            10 Barrel Brewing Co        large
3                 10 Barrel Brewing Co - Bend Pub        large
4                    10 Barrel Brewing Co - Boise        large
5                   10 Barrel Brewing Co - Denver        large
6                            10 Barrel Brewing Co        large
7                            10 Barrel Brewing Co        large
8                  10 Torr Distilling and Brewing        micro
9                                     101 Brewery      brewpub
10                      101 North Brewing Company       closed
11                            105 West Brewing Co        micro
12                                    10K Brewing        micro
13                  10th District Brewing Company        micro
14                       11 Below Brewing Company        micro
15                                1188 Brewing Co      brewpub
16                       12 Acres Brewing Company        micro
17                       12 Gates Brewing Company      brewpub
18                        12 West Brewing Company        micro
19  12 West Brewing Company - Production Facility        micro

Maybe with column numbers now? Because I know I won't always check what my column names are.

In [66]:
df.iloc[:,[1,2]]

                                             name brewery_type
0                           10-56 Brewing Company        micro
1                            10 Barrel Brewing Co        large
2                            10 Barrel Brewing Co        large
3                 10 Barrel Brewing Co - Bend Pub        large
4                    10 Barrel Brewing Co - Boise        large
5                   10 Barrel Brewing Co - Denver        large
6                            10 Barrel Brewing Co        large
7                            10 Barrel Brewing Co        large
8                  10 Torr Distilling and Brewing        micro
9                                     101 Brewery      brewpub
10                      101 North Brewing Company       closed
11                            105 West Brewing Co        micro
12                                    10K Brewing        micro
13                  10th District Brewing Company        micro
14                       11 Below Brewing Company        micro
15                                1188 Brewing Co      brewpub
16                       12 Acres Brewing Company        micro
17                       12 Gates Brewing Company      brewpub
18                        12 West Brewing Company        micro
19  12 West Brewing Company - Production Facility        micro

Analysis 5: Select and print the FIRST 4 rows of you data frame.

In [68]:
df.iloc[0:4]

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,country,longitude,latitude,phone,website_url,updated_at,created_at
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,None,None,Knox,Indiana,None,46534,United States,-86.627954,41.289715,6308165790,None,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
1,10-barrel-brewing-co-bend-1,10 Barrel Brewing Co,large,62970 18th St,None,None,Bend,Oregon,None,97701-9847,United States,-121.28170597038259,44.08683530625218,5415851007,http://www.10barrel.com,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
2,10-barrel-brewing-co-bend-2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,None,None,Bend,Oregon,None,97703-2465,United States,-121.32880209261799,44.057564901366796,5415851007,None,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,None,None,Bend,Oregon,None,97701,United States,-121.2809536,44.0912109,5415851007,None,2023-01-04T04:46:02.393Z,2023-01-04T04:46:02.393Z